:root {
  /* Fonts */
  --main-font: roboto, sans-serif;
  --secondary-font: raleway, sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #000000;
  --accent-txt-cl: #2196f3;
  --grey-txt-cl: #757575;
  --white-txt-cl-60: rgba(255, 255, 255, 0.6);

  /* Background color */
  --light-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --hero-bg-cl: rgba(47, 48, 58, 0.4);

  --accent-bg-cl: #2196f3;
  --gray-bg-cl: #f5f4fa;
  --footer-soc-bg: rgba(255, 255, 255, 0.1);
  --overlay-bg: rgba(33, 150, 243, 0.9);

  /* Others */
  --btn-radius: 4px;
  --header-brd: #ececec;
  --filter-brd: #eeeeee;
  --icon-cl: #afb1b8;
  --items: 3;
  --gap: 30px;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: currentColor;
  transition: color var(--anim);
}
.list,
.header-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid greenyellow; */
}

/**
  |============================
  | HEADER
  |============================
*/
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-nav {
  margin-right: auto;
}
.header-group {
  display: flex;
  gap: 50px;
  color: var(--grey-txt-cl);
}
.header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--dark-txt-cl);
}
.logo-accent {
  color: var(--accent-txt-cl);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-brd);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt-cl);
}
.icons-header {
  fill: currentColor;
}
.header .active {
  color: var(--accent-txt-cl);
}
.header-list-item {
  position: relative;
}
.header-nav-link.active::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-bg-cl);
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0px;
  background-image: linear-gradient(var(--hero-bg-cl), var(--hero-bg-cl)),
    url(../images/hero/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-bg-cl);
  text-align: center;
}
.hero-title {
  margin: 0 auto 30px auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}
.btn {
  width: 216px;
  min-height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  cursor: pointer;
  border: transparent;
  border-radius: var(--btn-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/**
  |============================
  | Features section
  |============================
*/
.features-list {
  display: flex;
  gap: var(--gap);
}
/* HIDE TITLE!!! */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--gap);
  width: 270px;
  height: 120px;
  background-color: var(--gray-bg-cl);
}
.features-uppertitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.features-list-item {
  width: 270px;
}
.feature-description {
  color: var(--grey-txt-cl);
}

/**
  |============================
  | Work section
  |============================
*/
.work-section {
  padding-top: 0;
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.work-list {
  display: flex;
  gap: var(--gap);
}
.work-thumb {
  position: relative;
}
.work-subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--light-txt-cl);
  background: rgba(47, 48, 58, 0.8);
}

/**
  |============================
  | Team section
  |============================
*/
.team-section {
  background-color: var(--gray-bg-cl);
}
.team-list {
  display: flex;
  gap: var(--gap);
}
.team-list-item {
  background-color: var(--light-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-foto-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-subtitle,
.team-desc {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
}
.team-desc {
  margin-bottom: 16px;
  color: var(--grey-txt-cl);
}
/* Socials */
.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-cl);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color var(--anim), background-color var(--anim);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-bg-cl);
  color: var(--light-txt-cl);
}
.socials-icon {
  fill: currentColor;
}

/**
  |============================
  | Clients
  |============================
*/
.clients-list {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-cl);
  border: 1px solid var(--icon-cl);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: color var(--anim), border-color var(--anim);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-txt-cl);
  border-color: var(--accent-bg-cl);
}
.clients-link {
  fill: currentColor;
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
  color: var(--light-txt-cl);
}
/* .footer-logo {
    margin-bottom: 20px;
} */
.footer-logo-cl {
  color: var(--light-txt-cl);
}
.footer-address {
  margin-right: 70px;
}
.footer-address-desc {
  font-style: normal;
  margin-top: 20px;
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-item-cl > .link {
  color: var(--white-txt-cl-60);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-joinus {
  margin-right: 93px;
}
.footer-contacts-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.footer-social-link {
  background-color: var(--footer-soc-bg);
  color: var(--light-txt-cl);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-bg-cl);
}

.footer-form {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  gap: 12px;
}
.footer-form-input {
  display: block;
  margin-top: 20px;
  padding-left: 16px;
  background-color: inherit;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--light-txt-cl);
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
}
.icon-footer {
  fill: currentColor;
}
/**
  |============================
  |PORTFOLIO 
  |============================
*/
.filter-list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-btn {
  padding: 8px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: inherit;
  background-color: var(--gray-bg-cl);
  border: 1px solid transparent;
  border-radius: var(--btn-radius);
  cursor: pointer;
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.filter-list-item {
  flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}
.filter-foto-desc {
  padding: 20px 24px;
  border: 1px solid var(--filter-brd);
}
.filter-subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.filter-desc {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--grey-txt-cl);
}
.filter-link {
  display: block;
  transition: box-shadow var(--anim);
}
.filter-link:hover,
.filter-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Transition overlay */
.filter-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-bg);
  backdrop-filter: blur(4px);
  transition: transform var(--anim);
}
.overlay-desc {
  font-size: 18px;
  line-height: calc(28 / 14);
  color: var(--light-txt-cl);
  user-select: none;
}
.filter-link:hover .overlay,
.filter-link:focus .overlay {
  transform: translateY(0%);
}
/* .filter-list-item:hover .overlay {
  transform: translateY(0%);
} */
/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotateX(0deg);
  visibility: visible;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotateX(360deg);
  width: 528px;
  height: 581px;
  background-color: var(--light-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--btn-radius);
  transition: transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--light-bg-cl);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--anim);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-txt-cl);
}
.register-form {
  padding: 40px;
}
.register-form-title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: calc(23 / 20);
}
.register-form-group {
  margin-bottom: 20px;
}
.register-form-field {
  display: block;
  margin-bottom: 10px;
}
.register-form-field:last-child {
  margin-bottom: 0;
}
.register-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--grey-txt-cl);
}
.register-form-input {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--btn-radius);
  transition: border-color var(--anim);
}
.register-form-text {
  width: 100%;
  height: auto;
  outline: none;
  padding: 0;
  border: none;
}
.register-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--anim);
}
.register-form-input:focus-within > .register-form-icon,
.register-form-input:focus-within {
  fill: var(--accent-txt-cl);
  border-color: var(--accent-bg-cl);
}
.form-comment-input {
  padding: 12px 16px;
  height: 120px;
}
.register-form-comment {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--btn-radius);
}
.register-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
.icon-checked {
  opacity: 0;
  fill: var(--accent-txt-cl);
  transition: opacity var(--anim);
}
.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}
.icon-unchecked {
  transition: opacity var(--anim);
}
.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}
.register-form-checkbox:focus + .register-form-icons {
  outline: 2px solid rgb(56, 87, 107);
  outline-offset: 1px;
  border-radius: 2px;
}
.register-form-desc {
  color: var(--grey-txt-cl);
  user-select: none;
}
.register-form-link {
  color: var(--accent-txt-cl);
}
.register-form-btn {
  margin: 0 auto;
  display: block;
}
